body {
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  overflow: hidden;
  background-image: linear-gradient(to right, #051937, #004d7a, #008793, #00bf72, #a8eb12);
}

.navbar a {
  float: left;
  font-size: 16px;
  font-weight: bold;
  color: white;
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
}

.search-bar {
  font-weight: bold;
  color: black;
  padding: 14px 18px;
  float: right;
  height: 24px;
}

.search-box {
  height: 24px;
  width: 300px;
}

.topnav-right {
  float: right;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  font-weight: bold;
  color: white;
  padding: 20px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  float: center;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-image: linear-gradient(to right top, aqua, purple);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-image: linear-gradient(to left, #051937, #004d7a, #008793, #00bf72, #a8eb12);
  min-width: 160px;
  box-shadow: inherit;
}

.dropdown-content a {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.pbandj-logo {
  float: left;
  padding: 12px 16px;
}

.slowFade {
  display: flex;
  align-items: flex-start;
  background: #fff;
  position: relative;
  overflow: hidden;
  height: 100vh;
}

.slowFade .slide img {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  height: auto;
  background: #000;
  webkit-backface-visibility: hidden;
        backface-visibility: hidden;
  opacity: 0;
  transform: scale(1.5) rotate( 15deg );
  webkit-animation: slowFade 48s infinite;
        animation: slowFade 48s infinite;
}

.slowFade .slide:nth-child(5) img {
  webkit-animation-delay: 8s;
  animation-delay: 8s;
}

.slowFade .slide:nth-child(4) img {
  webkit-animation-delay: 16s;
  animation-delay: 16s;
}

.slowFade .slide:nth-child(3) img {
  webkit-animation-delay: 24s;
  animation-delay: 24s;
}

.slowFade .slide:nth-child(2) img {
  webkit-animation-delay: 32s;
  animation-delay: 32s;
}

.slowFade .slide:nth-child(1) img {
  webkit-animation-delay: 40s;
  animation-delay: 40s;
}

@keyframes slowFade {
  25% {
    opacity: 1;
    transform: scale(1) rotate(0);
  }
  40% {
    opacity: 0;
  }
}

@-webkit-keyframes slowFade {
  25% {
    opacity: 1;
    transform: scale(1) rotate(0);
  }
  40% {
    opacity: 0;
  }